@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@700&display=swap');


body{
    color: #FEE0D6!important;
    background-color: #C4464A !important ;
    font-family: Smooch, Sans !important;
  letter-spacing: 1px;}

.element {
    height: 100%;
    width: 100%;
  
    margin: 0 auto;
    animation-name: stretch;
    animation-duration: 3s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: none;
    animation-play-state: running;
  }


  
  @keyframes stretch {
    0% {
      transform: scale(.3);
    
      border-radius: 100%;
    }
    50% {
     
    }
    100% {
      transform: scale(1);
    
    }
  }
  

  .btn-outline-dark {
    --bs-btn-color: #faebe7  !important;
    --bs-btn-border-color: #faebe7  !important;
    --bs-btn-hover-color:  #C4464A !important;
    --bs-btn-hover-bg: #faebe7  !important;
    --bs-btn-hover-border-color: #faebe7  !important;
    --bs-btn-focus-shadow-rgb: 33, 37, 41 !important;
    --bs-btn-active-color:  #C4464A !important;
    --bs-btn-active-bg: #faebe7  !important;
    --bs-btn-active-border-color: #faebe7  !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
    --bs-btn-disabled-color: #faebe7  !important;
    --bs-btn-disabled-bg: transparent !important;
    --bs-btn-disabled-border-color: #faebe7  !important;
    --bs-gradient: none !important;
}
  


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.loginimage{
  margin-top:5px ;
  img{
   width: 500px;
  }
}

.container{
    border-radius: 45px;
    border: 2px solid  #FEE0D6;
}
.row{
    border-radius: 50px;
    padding: 25px 35px;
}
.form-label{
    font-size: 16px;
    font-weight:500;
    margin-bottom: -1px;
}
.fields input{
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border: 1px solid  #FEE0D6;
    background: transparent;
    color: #FEE0D6;
   
}
.fields input::placeholder{
    font-size: 15px;
    color:#faebe7;
    font-weight: 450;
}
.btn{
    border-radius: 15px;
    outline: none;
    color: #FEE0D6;
    box-shadow: rgba(0,0,0,1);
}
.fields,.buttons{
    position: relative;
}
.fields  i{
    position: absolute;
    right: 20px;
    top: 70%;
    transform: translateY(-50%);
    color: #FEE0D6;
}



 
.register{
    text-decoration: none;
    color: blue;
}
.register:hover{
    text-decoration: underline;
    color:#FEE0D6;
}
h1{
    letter-spacing: 5px;
text-transform: uppercase;}



@media screen and (max-width:769px) {
  .element{
  img{
    width: 300px !important;
    height: 260px !important;
  }
}

.loginimage{
  img{
    width: 180px !important;
    height: 130px !important;
    
  }
}
}

@media screen and (min-width:770px) and (max-width:1050px){
  .loginimage{
    img{
      width: 380px !important;
     margin-top: 10%;
      
    }
  }
}
